.social-living-portlet-events textarea {
  width: 100%; }

.social-living-portlet-events .response {
  float: left;
  margin-right: 15px;
  position: relative; }

.social-living-portlet-events .response .comments {
  background: #E2E6E8;
  border: 1px solid #6B767B;
  bottom: 110%;
  display: none;
  left: -20px;
  padding: 5px;
  position: absolute;
  width: 200px; }

.social-living-portlet-events .response.hovering .comments {
  display: block; }

.social-living-portlet-events .response .comments .indicator {
  background: url(../images/indicator.png) no-repeat;
  bottom: -15px;
  height: 15px;
  left: 50px;
  position: absolute;
  width: 15px; }

.social-living-portlet-events #eventDetailsColumn {
  line-height: 0.8em;
  vertical-align: middle; }

.social-living-portlet-events #eventGroup {
  font-weight: bold;
  font-size: 1.2em; }

.social-living-portlet-events #eventTitle {
  font-weight: bold;
  font-size: 1.6em; }

.social-living-portlet-events #eventDetailsTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse; }

.social-living-portlet-events #eventDetailsTable td, .social-living-portlet-events #eventDetailsTable th {
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px; }

.social-living-portlet-events #eventDetailsTable td.eventFirstTD {
  font-weight: bold; }

.social-living-portlet-events #eventDetailsTable tr.eventAltTR td {
  color: #000000;
  background-color: #EAF2D3; }

.mapquestCopyright {
  text-align: center;
  font-style: italic; }

